.learn_content {
	padding: 0 5% 20px 5%;
	h1 {
	padding: 20px 0;
	font-weight: 800;
	margin: 0;
	}
	hr {
		border-top: 10px solid $color-primary;
		width: 50px;
		float: left;
		margin-bottom: 2rem;
	}

	p {
		clear: left;
	}
}



